
body{
    background-color:rgb(75, 36, 43);
    
}

h1{
    text-align: center;
    color: yellow;
    font-family: monospace;
    margin-top: 0.5rem;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    font-weight: bolder;
}

h5{
    margin-bottom: 15px;
    color: thistle;
}

p{
    line-height: 90%;
    color: thistle;
}


.menu-bar{
    background-color:rgb(2, 31, 59)!important;
}

a {
    color: thistle!important;
}


.card{
    border: 2px solid slategrey;
    border-radius: 15%;
}

.card > img{
    border-top-left-radius: 15%; 
    border-top-right-radius: 15%;
}


.col{
    margin-bottom: 1.5rem;
}


.nav-item{
    font-weight: bold;
}


button{
    margin-top: 1.5rem;
}

form{
    background-color:rgb(223, 198, 216) ;
    border:rgb(107, 48, 97) 1px solid;
}

form label {
    font-weight: bold;
}

footer{
    margin:1.5rem 0;
    font-style: italic;
    font-weight: bold;
    color:thistle
}



